*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    
}
.cursor{
    height:40px;
    width:40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    /* transition: all linear .2s; */
    mix-blend-mode: difference;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h2{
    /* color: rgb(115, 114, 114); */
    font-size: 9vw;
    font-weight: 900;
    color: red;
  
}

.text h3{
    font-size: 9vw;
    font-weight: 900;
    color: green;
}
.text{
    height: 500px;
    width: 1100px;
    /* background-color: black; */

    
    
}